:root {
  --background-color: white;
  --color: black;
  --color-accent: lightblue;
}

body {
  background-color: var(--background-color);
  margin: 0%;
}


button {
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--color);
}

.drop-down:hover, button:hover, a:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: var(--color);
  color: var(--background-color);
  span, .content{
    color: var(--background-color);
    
  }
  /* transition: .1s; */
}

.dark-mode {
  --background-color: black;
  --color: white;
}

.chockboard-mode {
  --background-color: rgb(52, 71, 51);
  --color: rgb(235, 192, 111);
}

.pretty-mode {
  --color: rgb(226, 168, 233);
  --background-color: rgb(60, 18, 60);
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  border-bottom: solid 1px var(--color);
  z-index: 9999;

  .links {
    display: flex;
    justify-content: space-between;
  }

  .drop-down {
    position: relative;

    .content {
      position: absolute;
      border: solid 1px var(--color);
      padding: 20px;
      width: 100px;
      background-color: var(--background-color);
      display: none;

      /*only when not hovered*/
      button {

        margin: 4%;
      }
    }

    &:hover {
      cursor: pointer;

      .content {
        display: block;
      }
    }

   
  }

  a,
  span {
    padding: 6px;
    border: solid 1px var(--color);
    color: var(--color);
  }

  img{
    height: 40px;
    width: 40px;
  }
}

.event-container {
  /* transform: scale(.6); */
  min-width: fit-content;
  padding: 2%;
  max-height: 400px;
  overflow: scroll;
  background-color: var(--background-color);
  border: dashed 3px var(--color);


  .buffer {
    width: 100%;

    img {
      height: 100%;
    }
  }
}

.event {
  /* width: 300px; */
  margin: 4px;
  color: var(--color);
  overflow-y: scroll;
  padding: 10px;
  transition: color .4s;
  background-color: var(--background-color);
  --button-color: var(--color);

  .lower-text {
    line-height: 2px;
  }

  resize: both;

}

.event:hover {
  /* background-color: var(--color);
  color: var(--background-color);
  --button-color: var(--background-color); */
  border: solid blue 2px;
  cursor: grab;
}

.event-duration {
  button {
    cursor: pointer;
    color: var(--button-color);
    font-size: large;
    /* border: none; */
    background: none;
    margin: 4px;
    margin-right: 4px;

    &:active {
      transform: scale(.6);
    }
  }
}


#event_week {

  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.change_time_to_size_multiplier {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  background-color: var(--background-color);
  color: var(--color);

  button{
    height: 50%;
  }
}